
  @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Golos+Text:wght@700&family=Oxygen&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  
.normal-family{

  font-family: 'Cabin', sans-serif;
}
  .bold-family{

  font-family: 'Golos Text', sans-serif;
}
.normal-family2{


  font-family: 'Oxygen', sans-serif;
}
.normal-family3{
  font-family: 'Inter', sans-serif;
}
.bold-family2{
  font-family: 'Secular One', sans-serif;
} 

@media (min-width: 992px) {
  .margin-s {
    margin-left: 4rem !important;
  }
}
.button-color{
  color: white;
  background-color:#f84b67;
  font-weight: bolder;
  translate: 0%;
  position: relative;
}
.button-color::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  background-color: #241d6c;
  translate: 0%;

}
.button-color:hover::after{
  width: 100%;
  translate: 40%;
}